services:
    # image project
    app:
        build:
            context: .
            dockerfile: Dockerfile
        restart: unless-stopped
        working_dir: /var/www/
        volumes:
            - ./:/var/www
            - contracts_templates:/var/www/storage/app/contracts/templates
            - contracts_generated:/var/www/storage/app/contracts/generated
            - contracts_temp:/var/www/tmp
        depends_on:
            - redis
        networks:
            - laravel

    # nginx
    nginx:
        image: nginx:alpine
        restart: unless-stopped
        ports:
            - "8000:80"
        volumes:
            - ./:/var/www
            - ./docker/nginx/:/etc/nginx/conf.d/
            - contracts_templates:/var/www/storage/app/contracts/templates
            - contracts_generated:/var/www/storage/app/contracts/generated
        networks:
            - laravel


    # redis
    redis:
        image: redis:latest
        networks:
            - laravel

networks:
    laravel:
        driver: bridge

volumes:
    contracts_templates:
        driver: local
    contracts_generated:
        driver: local
    contracts_temp:
        driver: local
